{% set numbergroup__base_class = 'person-card' %}

<div {{ bem(numbergroup__base_class) }}>
  <div {{ bem('inner', [], numbergroup__base_class) }}>
    {% block content %}
      {% for item in content %}
        <div class="person-card-wrapper">
          <div class="content-left">
            {% include "@molecules/person/image.twig" with {
              card__image__heading: item.card__image__heading,
            } %}
          </div>
          <div class="content-center">
            {% include "@molecules/person/full-name.twig" with {
              card__first__name: item.card__first__name,
              card__last_name: item.card__last_name,
            } %}
            {% include "@molecules/person/profession.twig" with {
              card__profession: item.card__profession,
            } %}
            {% include "@molecules/person/phone.twig" with {
              card__heading__phone: item.card__heading__phone,
              card__phone: item.card__phone,
            } %}
            {% include "@molecules/person/email.twig" with {
              card__heading__email: item.card__heading__email,
              card__email: item.card__email,
            } %}
          </div>
          <div class="content-right">
            {% include "@atoms/buttons/twig/button.twig" with {
              button_content: item.card__button__text,
              button_modifiers: ['secondary'],
              button_url: item.card__button__url,
            } %}
          </div>
        </div>
      {% endfor %}
    {% endblock %}
  </div>
</div>
