/* Location */
.info-location {
  width: 100%;
  max-width: 260px;
  margin-bottom: 15px;

  @include medium {
    margin-bottom: 35px;
  }

  &__content {
    display: flex;
    flex-wrap: nowrap;

    .info-location__content-left {
      .ico-location {
        text-decoration: none;
        width: 13px;
        height: 20px;

        i {
          font-size: 20px;
        }
      }
    }

    .info-location__content-right {
      margin-left: 15px;
    }
  }

  &__heading {
    color: $title-info;
    font-family: $font-body;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.0625rem;
    margin-bottom: 5px;
  }

  &__body {
    margin: 0;
    color: $gray-medium;
    font-family: $font-body;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    max-width: 160px;

    p {
      margin: 0;
    }
  }

  &__link {
    display: block;
    text-decoration: underline;
    color: $primary;
    font-family: $font-body;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.3125rem;

    &:hover {
      color: $primary;
      font-weight: normal;
    }
  }
}

/* Phone */
.info-phone {
  width: 100%;
  max-width: 263px;
  margin-bottom: 15px;

  &__content {
    display: flex;
    flex-wrap: nowrap;

    .info-phone__content-left {
      .ico-phone {
        text-decoration: none;
        width: 13px;
        height: 20px;

        i {
          font-size: 20px;
        }
      }
    }

    .info-phone__content-right {
      margin-left: 15px;
    }
  }

  &__heading {
    color: $title-info;
    font-family: $font-body;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.0625rem;
    margin-bottom: 5px;
  }

  &__body {
    text-decoration: underline;
    color: $primary;
    font-family: $font-body;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.3125rem;
    font-weight: normal;
  }
}

/* Email */
.info-email {
  width: 100%;
  max-width: 263px;
  margin-bottom: 15px;

  @include medium {
    margin-bottom: 35px;
  }

  &__content {
    display: flex;
    flex-wrap: nowrap;

    .info-email__content-left {
      .ico-email {
        text-decoration: none;
        width: 13px;
        height: 20px;

        i {
          font-size: 20px;
        }
      }
    }

    .info-email__content-right {
      margin-left: 15px;
    }
  }

  &__heading {
    color: $title-info;
    font-family: $font-body;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.0625rem;
    margin-bottom: 5px;
  }

  &__body {
    text-decoration: underline;
    color: $primary;
    font-family: $font-body;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.3125rem;
    font-weight: normal;
    word-break: break-all;
  }
}

/* Location Hours */
.info-location-hours {
  width: 100%;
  margin-bottom: 15px;

    @include medium {
      margin-bottom: 0;
    }

  &__content {
    display: flex;
    flex-wrap: nowrap;

    .info-location-hours__content-left {
      .ico-location-hours {
        text-decoration: none;
        width: 13px;
        height: 20px;

        i {
          font-size: 20px;
        }
      }
    }

    .info-location-hours__content-right {
      margin-left: 15px;
    }
  }

  &__heading {
    color: $title-info;
    font-family: $font-body;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.0625rem;
    margin-bottom: 5px;
  }

  &__days {
    margin: 0;
    color: $gray-medium;
    font-family: $font-body;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.5rem;

    .office-hours__item {
      margin: 0 0 7px 0;

      &-label {
        font-weight: normal;
      }

      &-slots {
        text-transform: uppercase;
      }
    }
  }
}

/* Date And Time */
.info-date-time {
  width: 100%;
  max-width: 260px;
  margin-bottom: 35px;

  &__content {
    display: flex;
    flex-wrap: nowrap;

    .info-date-time__content-left {
      .ico-location {
        text-decoration: none;
        width: 13px;
        height: 20px;

        i {
          font-size: 20px;
        }
      }
    }

    .info-date-time__content-right {
      margin-left: 15px;
    }
  }

  &__heading {
    color: $title-info;
    font-family: $font-body;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.0625rem;
    margin-bottom: 5px;
  }

  &__body {
    margin: 0;
    color: $gray-medium;
    font-family: $font-body;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.5rem;

    p {
      margin: 0;
    }
  }

  &__link {
    text-decoration: underline;
    color: $primary;
    font-family: $font-body;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.3125rem;

    &:hover {
      color: $primary;
      font-weight: normal;
    }
  }
}

/* Location */
.info-image {
  width: 100%;
  max-width: 100%;

  &__content {
    img {
      width: 100%;
      height: auto;
    }
  }
}

/* File Link */
.info-filelink {

  &__content {
    display: flex;
    flex-wrap: nowrap;

    .info-filelink__content-right {
      margin-left: 10px;
    }
  }

  i {
    font-size: 20px;
  }

  &__link {
    text-decoration: underline;
    color: $primary;
    font-family: $font-body;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5rem;
    display: block;

    &:hover {
      color: $primary;
      font-weight: normal;
    }
  }
}
