{% set numbergroup__base_class = 'column-row' %}

<div {{ bem(numbergroup__base_class) }}>

  <h2 class="title">{{ title }}</h2>

  <div {{ bem('inner', [], numbergroup__base_class) }}>
    <div class="column-row-wrapper">

      {% block content %}
        {% for item in content %}
          <div class="column-row-item">
            {% block card__mini %}
              {% include "@molecules/card/event-card.twig" with
                {
                  card__image__src: item.card__image__src,
                  card__image__alt: item.card__image__alt,
                  card__image__image_output_image_tag: item.card__image__image_output_image_tag,
                  card__heading: item.card__heading,
                  card__date: item.card__date,
                  card__body: item.card__body,
                  card__link__url: item.card__link__url,
                }
              %}
            {% endblock %}
          </div>
        {% endfor %}
      {% endblock %}

    </div>
    {# Link #}
    {% if card__button__url %}
      <div class="column-row-btn">
        {% include "@atoms/buttons/twig/button.twig" with {
          button_content: card__button__text,
          button_modifiers: ['secondary'],
          button_url: card__button__url,
        } %}
      </div>
    {% endif %}
  </div>
</div>
