.column-row {
  @include wrapper;

  padding-top: $space-triple;
  padding-bottom: $space-triple;
  padding-left: 0;
  padding-right: 0;

  > h2.title {
    text-align: center;
    color: #21303e;
    font-family: $font-heading;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 2.3125rem;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include medium {
      font-size: 1.875rem;
      margin-bottom: 50px;
    }
  }

  .column-row-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include medium {
      flex-wrap: nowrap;
    }

    .column-row-item {
      flex: auto;
      border: 0;
      margin-right: 0;

      @include medium {
        flex: 1 1 0;
        margin-right: $space-onepointfive;
      }

      &:last-child {
        margin-right: 0;
      }

      .block {
        height: 100%;
      }
    }
  }

  .column-row-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px;
  }
}
