.tabbed {
  padding-top: $space-triple;
  padding-bottom: $space-triple;

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
    flex-wrap: wrap;

    @include large {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .nav.nav-pills {
    width: 100%;
    border-bottom: 1px solid $line-gray;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 70px;

    .nav-item::before {
      display: none !important;
    }

    .nav-item {
      .nav-link {
        background: transparent;
        color: $gray-dark;
        font-family: $font-heading;
        font-size: 1.5rem;
        letter-spacing: 1px;
        line-height: 1.8125rem;
        border-radius: 0;
        padding: 10px 20px;
        text-align: center;
        min-height: 82px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;

        @include medium {
          padding: 20px 90px;
          min-height: 100%;
        }

        &.active {
          font-weight: 700;

          &:hover {
            font-weight: 700;
          }
        }

        &#pills-0-tab,
        &#pills-2-tab {
          &:hover {
            font-weight: 700;
            color: $primary;
          }

          &.active {
            color: $gray-dark;
            border-bottom: 4px solid $primary;
          }
        }

        &#pills-1-tab,
        &#pills-3-tab {
          &:hover {
            font-weight: 700;
            color: $ada-orange;
          }

          &.active {
            color: $gray-dark;
            border-bottom: 4px solid $ada-orange;
          }
        }
      }
    }
  }

  .tab-content {
    width: 100%;

    .tabbed-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .grid__item {
        margin-bottom: 30px;
        flex: auto;

        @include medium {
          margin-bottom: 60px;
          flex: 1 1 50%;

          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            margin-bottom: 0;
          }
        }

        @include large {
          min-width: auto;
          flex: 1 1 30%;
        }
      }

      .block--grid {
        width: 100%;

        .grid__item {
          width: auto;
        }
      }
    }
  }
}
