.collapsible {

    &__link, &__header-btn.btn {
        text-decoration: underline;
        color: $primary;
        font-family: $font-body;
        font-size: 0.875rem;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1.5rem;
        display: block;
    
        &:hover {
          color: $primary;
          font-weight: normal;
        }
    }

    &__header-btn.btn {
        padding: 0;
    }
    
    &__body {
        margin-left: 20px;  
    }
}
