{{ attach_library('countyoc/bootstrap') }}
<div class="accordion" id="accordionExample">
  {% for key, item in items %}
    {% include "@molecules/accordion/_accordion_item.twig" with {
      item_id: key,
      item_heading: item.item_heading,
      item_body: item.item_body,
    } %}
  {% endfor %}
</div>