{{ attach_library('countyoc/bootstrap') }}
{{ attach_library('countyoc/browser-detect') }}
<div id="modal-browser" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        	<p>This browser is no longer supported and some key features will not work. We strongly recommend using Edge, Chrome 70+, Safari 5.x+ and Firefox 5.x+.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>