.sitemap ul, .sitemap {
  list-style-type: none;
}
.sitemap {
  margin: 0;
  padding: 0;
}
.sitemap a {
  text-decoration: none;
}
.sitemap .caret {
  cursor: pointer;
  user-select: none;
}
.sitemap .caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.sitemap .caret-down::before {
  transform: rotate(90deg);
}
.sitemap .nested {
  display: none;
  padding-left: 30px;
}
.sitemap .active {
  display: block;
}
