.glossary-wrapper {
  display: none;
  padding: 1rem;
  box-shadow: 0 0 5px $gray;
  margin-bottom: 3rem;

  @include medium {
    display: block;
  }

  ul {
    display: flex;
    margin: 0;

    li.facet-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      margin: 0;
      padding: 0 !important;

      &.no-results {
        color: $gray-light;
      }

      &::before {
        content: '';
        display: none;
      }
    }

    a {
      width: 2rem;
      height: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $primary;

      &:hover,
      &:focus,
      &.is-active {
        background-color: $primary;
        color: $white;
        border-radius: 4px;
      }

      &:active {
        display: flex;
      }
    }
  }
}
