<div class="glossary-wrapper">
 <ul>
   <li class="facet-item glossaryaz yes-results"><a href="/?f%5B0%5D=glossary%3AA" rel="nofollow" class="is-inactive">A</a></li>
   <li class="facet-item glossaryaz no-results">B</li>
   <li class="facet-item glossaryaz no-results">C</li>
   <li class="facet-item glossaryaz no-results">D</li>
   <li class="facet-item glossaryaz no-results">E</li>
   <li class="facet-item glossaryaz yes-results"><a href="/?f%5B0%5D=glossary%3AF" rel="nofollow" class="is-inactive">F</a></li>
   <li class="facet-item glossaryaz no-results">G</li>
   <li class="facet-item glossaryaz no-results">H</li>
   <li class="facet-item glossaryaz no-results">I</li>
   <li class="facet-item glossaryaz no-results">J</li>
   <li class="facet-item glossaryaz no-results">K</li>
   <li class="facet-item glossaryaz yes-results"><a href="/?f%5B0%5D=glossary%3AL" rel="nofollow" class="is-inactive">L</a></li>
   <li class="facet-item glossaryaz no-results">M</li>
   <li class="facet-item glossaryaz no-results">N</li>
   <li class="facet-item glossaryaz no-results">O</li>
   <li class="facet-item glossaryaz yes-results"><a href="/?f%5B0%5D=glossary%3AP" rel="nofollow" class="is-inactive">P</a></li>
   <li class="facet-item glossaryaz no-results">Q</li>
   <li class="facet-item glossaryaz yes-results"><a href="/?f%5B0%5D=glossary%3AR" rel="nofollow" class="is-active">R</a></li>
   <li class="facet-item glossaryaz yes-results"><a href="/?f%5B0%5D=glossary%3AS" rel="nofollow" class="is-inactive">S</a></li>
   <li class="facet-item glossaryaz yes-results"><a href="/?f%5B0%5D=glossary%3AT" rel="nofollow" class="is-inactive">T</a></li>
   <li class="facet-item glossaryaz no-results">U</li>
   <li class="facet-item glossaryaz no-results">V</li>
   <li class="facet-item glossaryaz no-results">W</li>
   <li class="facet-item glossaryaz no-results">X</li>
   <li class="facet-item glossaryaz no-results">Y</li>
   <li class="facet-item glossaryaz no-results">Z</li>
 </ul>
</div>