<div class="form-item form-type-textfield">
  <label for="edit-email" class="js-form-required form-item__label">Label Title</label>
  <input id="edit-email" autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-email--description" type="email" name="email" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="Enter your email">
</div>

<div class="form-item form-type-textfield">
  <label for="edit-name" class="js-form-required form-required form-item__label">Label Title</label>
  <input id="edit-name" autocorrect="none" autocapitalize="none" spellcheck="false" aria-describedby="edit-name--description" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="Enter your name">
</div>

<fieldset id="edit-email-address--wrapper" class="fieldgroup form-fieldset">
  <legend class="h2">Email Address</legend>
  <div class="form-item form-type-email">
    <label for="edit-email-1" class="js-form-required form-required form-item__label">Email Address</label>
    <input id="edit-email-1" autocorrect="none" autocapitalize="none" spellcheck="false" type="email" name="email-1" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="Enter your email">
  </div>
  <div class="form-item form-type-email">
    <label for="edit-email-2" class="js-form-required form-required form-item__label">Confirm email</label>
    <input id="edit-email-2" autocorrect="none" autocapitalize="none" spellcheck="false" type="email" name="email-2" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="Enter your email">
  </div>
</fieldset>

<div class="form-item form-type-date">
  <label for="edit-date" class="js-form-required form-item__label">Date</label>
  <input data-datepicker-button="" type="text" data-drupal-date-format="Y-m-d" data-drupal-selector="edit-date" id="edit-date" name="date" value="2020-05-12" class="form-text hasDatepicker" autocomplete="chrome-off-83791411">
</div>
