.alerts {
  display: block;
  margin: 0;
  padding: 9px 17px;
  background-color: $red;

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    i {
      margin-right: 14px;
      color: $white;
    }

    span {
      color: $white;
      font-size: 0.875rem;

      strong {
        margin-right: 5px;
      }
    }
  }
}
