$color-breadcrumb: $gray-dark;
$color-breadcrumb-hover: $gray-darker;
$color-breadcrumb-active: $gray;

nav .breadcrumb {
  background-color: transparent;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $color-breadcrumb;
  text-decoration: none;
  padding: 0 2px;
}

.breadcrumb__link:hover {
  color: $color-breadcrumb-hover;
}

.breadcrumb__item {
  display: inline-block;
  font-size: 0.75rem;

  &::after {
    content: "/";
  }

  &:first-child {
    .breadcrumb__link {
      color: $primary;
      text-decoration: underline;
    }
  }

  &:last-child {
    color: $color-breadcrumb-active;

    &::after {
      content: "";
    }
  }
}

.breadcrumb_link:active {
  color: $color-breadcrumb-active;
}
