.footer {
  &__logo_footer {
    .logo-img {
      margin-bottom: 20px;

      .logo__image {
        margin: 0 auto;
        padding: 5px;
        width: 132px;
        height: 132px;
      }
    }

    .logo-text {
      text-align: center;

      p {
        margin-bottom: 0;
      }

      a {
        color: $white;
      }
    }
  }
}
