{% set footer__logo_src = directory ? '/' ~ directory ~ '/images/logo-footer.png' : 'images/logo-footer.png' %}

<div class="logo-img">
  {% block footer__branding %}
    {% embed "@atoms/links/link/link.twig" with {
      link_base_class: 'logo-link',
      link_url: 'https://prometsource.com',
    } %}
      {% block link_content %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_src: footer__logo_src,
          image_alt: 'Logo',
          responsive_image_blockname: 'logo',
        } %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
</div>
<div class="logo-text">
  <p>Contact us for a demo</p>
  <p><a href="tel:+1-773-525-8255">(773) 525-8255</a></p>
</div>
