.youtube-container {
  border: 1px solid $border-utility;
  background: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 750px;
  margin: 0 auto;

  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .video-details {
    flex-grow: 2;
    margin: $space;

    .title {
      color: $gray-darker;
      font-weight: bold;
      line-height: 1.25rem;
    }

    .date-views {
      line-height: 1rem;
      font-size: .875rem;

      .date::before {
        content: ' ';
        height: 5px;
        width: 5px;
        background-color: $gray-medium;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
      }
    }
  }

  .channel {
    padding: $space;
    border-top: 1px solid $border-utility;
    display: flex;
    justify-content: space-between;

    .channel-link {
      color: $gray-medium;
      display: flex;

      &:hover, &:focus {
        color: $secondary;

        .channel-name-subscribers .channel-name {
          color: $secondary;
        }
      }
    }

    .channel-image img {
      width: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: $space;
    }

    .channel-name-subscribers {
      padding-left: 3px;
      padding-right: 3px;

      .channel-name {
        display: block;
        line-height: 1.25rem;
        color: $gray-darker;
        font-weight: bold;
        padding-bottom: 3px;

        &:hover, &:focus {
          color: $secondary;
        }
      }

      .channel-subscribers {
        display: block;
        font-size: .875rem;
        font-weight: normal;
        line-height: 1rem;
      }
    }

    .channel-subscribe.button {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      min-width: auto;
      background: $primary;
      height: 40px;
      padding: 12px 20px;
      font-weight: normal;

      &:hover, &:focus {
        background: $primary-darker;
        color: $white;
      }

      svg.ext {
        display: none;
      }

      @include medium {
        height: 34px;
        padding: 9px 8px;
      }

      @include large {
        height: 40px;
        padding: 12px 20px;
      }
    }
  }
}

.twitter-container {
  border: 1px solid $border-utility;
  background: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 750px;
  margin: 0 auto;

  .tw-tweet-image {
    img {
      width: 100%;
    }
  }

  .tw-details {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: $space;

    .tw-user {

      .tw-user-link {
        color: $gray-medium;
        display: flex;

        &:hover, &:focus {
          color: $secondary;

          .tw-user-name .tw-user-name-full {
            color: $secondary;
          }
        }
      }

      .tw-user-image img {
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: $space;
      }

      .tw-user-name {
        padding-left: 3px;
        padding-right: 3px;

        .tw-user-name-full {
          display: block;
          line-height: 1.25rem;
          color: $gray-darker;
          font-weight: bold;
          padding-bottom: 3px;

          &:hover, &:focus {
            color: $secondary;
          }
        }

        .tw-user-name-screen {
          display: block;
          font-size: .875rem;
          font-weight: normal;
          line-height: 1rem;
        }
      }
    }

    .tw-tweet {
      flex-grow: 2;
      margin: $space 0;
      line-height: 1.5rem;
    }

    .tw-date {
      font-size: .875rem;
    }

    .tw-link a {
      color: $gray-medium;
      font-size: .875rem;
      font-weight: normal;

      &:hover, &:focus {
        color: $secondary;
      }

      &::before {
        @include material-icon;

        content: '\e7ff';
        font-size: 20px;
        margin-left: -2px;
        margin-right: 5px;
        vertical-align: text-bottom;
      }
    }
  }
}
