{{ attach_library('countyoc/share-this') }}

{# Set classes #}
{% set menu_class = 'ul-share-this' %}

{# List #}
{% set share__base_class = 'share-this' %}
<div {{ bem(share__base_class) }}>
  <h2 class="title">Share This</h2>
  {% embed "@atoms/lists/ul.twig" with {
    ul_base_class: menu_class,
    ul_blockname: menu_blockname
  } %}
    {% block list_content %}
      {% for item in share_this_items %}
        {% embed "@atoms/lists/_list-item.twig" with {
          li_base_class: 'item',
          li_blockname: menu_class,
        } %}
          {% block list_item_content %}
            {% embed "@atoms/links/link/link.twig" with {
              link_url: item.url,
              link_base_class: 'link-' ~ item.icon,
              link_blockname: menu_class,
            } %}
              {% block link_content %}
                <span class="visually-hidden">{{item.title}}</span>
                <div class="ico-share-footer {{item.icon}}"></div>
              {% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
