/*
 * @file
 * Provides the layout styles for countryoc layout sections.
 */

.layout__region--header {
  width: 100%;
}

.layout__region--content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.layout--twocol-section {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-section .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--twocol-section .layout__region--first,
  .layout--twocol-section .layout__region--second {
    flex: 0 1 50%;
  }
}


.layout--threecol-section {
  display: flex;
  flex-wrap: wrap;
}

.layout--threecol-section .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--threecol-section .layout__region--first,
  .layout--threecol-section .layout__region--third {
    flex: 0 1 33%;
  }
  .layout--threecol-section .layout__region--second {
    flex: 0 1 34%;
  }
}


.layout--fourcol-section {
  display: flex;
  flex-wrap: wrap;
}

.layout--fourcol-section .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--fourcol-section .layout__region {
    flex: 0 1 25%;
  }
}
