.facets-widget-checkbox {
  border-top: 1px solid;
  padding: 10px 0 0;
  margin: 25px 0 0;
  display: block;

  h3 {
    font-size: .9rem;
  }
}
.item-list__checkbox .facet-item {
  margin: 2px 0;
  display: flex;

  .facets-checkbox {
    margin-top: 8px;
  }

  .facet-item__count {
    padding-left: 3px;
  }

  label {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: inherit;
    margin: inherit;
  }

}
