#layout-builder-modal ul {
  margin: 0.25em 0 0 0;
  list-style-type: disc;
  list-style-image: none;
}
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: none;
  background-color: #fff;
  background-image: none;
  cursor: text;
}
