{% set card__base_class = 'person-card' %}

<div {{ bem(card__base_class) }}>
  <div class="content-left">
    <div class="content-img">
      <span>{{ initials }}</span>
      {% block image %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_src: 'images/card.png',
          image_alt: 'Alt tag',
        } %}
      {% endblock %}
    </div>
  </div>
  <div class="content-main">
    <div class="content-name-contact">
      {% include "@atoms/person/full-name.twig" with {
        card__first__name: card__first__name,
        card__last_name: card__last_name,
      } %}
    </div>
    <div class="content-body">
      <div {{ bem('titles', [], card__base_class) }}>
        {% block titles %}
          {% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_content: card__titles,
          } %}
        {% endblock %}
      </div>
      <div {{ bem('description', [], card__base_class) }}>
        {% block description %}
          {% include "@atoms/text/text/01-paragraph.twig" with {
            paragraph_content: card__description,
          } %}
        {% endblock %}
      </div>
    </div>
    <div class="content-contact">
      {% if card__phone %}
        {% include "@atoms/person/phone.twig" with {
          phone__phone: card__phone,
        } %}
      {% endif %}
      {% if card__email %}
        {% include "@atoms/person/email.twig" with {
          email__email: card__email,
        } %}
      {% endif %}
    </div>
  </div>
</div>
