body.path-events {
  background: $bg-internal-page;

  .main {
    padding-top: 65px;
  }

  .view-events {
    .form-actions {
      .form-submit {
        margin-top: 21px;
      }
    }
  }
}

.view-events.view-display-id-page_1 {
  background: $white;
  border-top: 6px solid $border-calendar;
  padding: 22px 15px 12px 15px;

  .js-drupal-fullcalendar {
    .fc-header-toolbar {
      .fc-left {
        .fc-prev-button {
          border-radius: 3px 0 0 3px;
          background: $bg-btn-calendar;
          color: $white;
          font-family: $font-body;
          box-shadow: none;
          text-shadow: none;
          border: 0;
          -webkit-appearance: none;
        }

        .fc-next-button {
          border-radius: 0 3px 3px 0;
          background: $bg-btn-calendar;
          color: $white;
          font-family: $font-body;
          box-shadow: none;
          text-shadow: none;
          border: 0;
          -webkit-appearance: none;
        }

        .fc-today-button {
          border-radius: 3px;
          background-color: $bg-btn-today-calendar;
          opacity: 1;
          color: $white;
          box-shadow: none;
          text-shadow: none;
          border: 0;
          font-family: $font-body;
          text-transform: capitalize;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-image: none;

          &:hover {
            -webkit-appearance: none;
            -moz-appearance: none;
          }
        }
      }
      .fc-right {
        .fc-button {
          background: $bg-btn-calendar;
          color: $white;
          font-family: $font-body;
          box-shadow: none;
          text-shadow: none;
          border: 0;
          -webkit-appearance: none;
          text-transform: capitalize;

          &.fc-corner-left {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }

          &.fc-corner-right {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }

          &.fc-state-active {
            background: $bg-btn-active-calendar;
          }
        }
      }
      .fc-center {
        h2 {
          color: $title-content-top;
          font-family: $font-heading;
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 1.75rem;
          text-transform: uppercase;
        }
      }
    }
    .fc-view-container {
      color: $black;
      font-family: $font-body;

      .fc-day-header {
        span {
          font-weight: normal;
        }
      }

      .fc-view {
        .fc-event {
          background-color: $bg-event-calendar !important;
          color: $black;
        }

        .fc-day-top.fc-past {
          a {
            color: $bg-event-past-calendar !important;

            &:hover {
              color: $bg-event-past-calendar !important;
            }
          }
        }

        .fc-bg {
          .fc-sun,
          .fc-sat {
            background-color: $bg-event-weekend-calendar !important;
          }
        }
      }
    }
  }

  table {
    margin: auto;
    background-color: transparent;
    border-color: transparent;

    tr{
      &:nth-child(odd) {
        background-color: inherit;
      }

      td:last-child {
        border-right: 1px solid #ddd;
      }
    }

    tbody {
      tr:last-child {
        th, td {
          &:not(.fc-day-top) {
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
  }
}
