{% set footer__logo_src = directory ? '/' ~ directory ~ '/images/logo-occ.png' : 'images/logo-occ.png' %}

<div class="logo-img">
  {% block footer__branding %}
    {% embed "@atoms/links/link/link.twig" with {
      link_base_class: 'logo-link',
      link_url: logo_link__url|default('/'),
    } %}
      {% block link_content %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_src: footer__logo_src,
          image_alt: 'Logo',
          responsive_image_blockname: 'logo',
        } %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
</div>
<div class="logo-text">
  <p>County DIrectory Assistance</p>
  <p>855.886.5400</p>
</div>
