.resources-menu {
  @include list-reset;
}

.resources-menu__item {
  margin: 0;
}

.resources-menu__link {
  color: #e8e8e8;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.8125rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    font-weight: 400;
    color: $white;
  }
}
