{# {{ attach_library('countyoc/county-alerts') }} #}

<div class="county-blocks-alert-block-wrapper">
  {% embed "@molecules/alerts/alerts.twig" with {
    title: 'replace',
    description: 'replace',
    card__modifiers: ['template'],
  } %}
  {% endembed %}
</div>
