.content-and-image {
  padding: 50px 0 50px 0;

  @include large {
    padding: 35px 0 35px 0;
  }

  &__inner {
    @include wrapper;
  }

  .content-and-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    @include medium {
      flex-wrap: nowrap;
      margin-bottom: 50px;
    }

    .two-column-text {
      &:first-child {
        margin-right: 0;
        margin-bottom: 20px;

        @include medium {
          margin-right: 15px;
          margin-bottom: 0;
        }
      }

      &:last-child {
        margin-left: 0;

        @include medium {
          margin-left: 15px;
        }
      }
    }

    .three-column-text {
      &:nth-child(2) {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;

        @include medium {
          margin: 0 30px;
        }
      }
    }
  }
}
