## For developing Provus itself, rename this file (docksal-local.env.sample) to docksal-local.env.
## docksal-local.env is in .gitignore so it will not be committed.

## PANTHEON_SITE_NAME - Name of the Pantheon hosting environment.  
##   E.g. for a dev machine with URL http://dev-maeng3-provus.pantheonsite.io/, it's "maeng3-provus"
##
PANTHEON_SITE_NAME='<name_here>'

## PANTHEON_TOKEN - See https://pantheon.io/docs/machine-tokens
##
PANTHEON_TOKEN=<your_pantheon_token>

## REMOTE_GIT_REPO - See https://pantheon.io/docs/git#clone-your-site-codebase
## NOTE: Replace value below
REMOTE_GIT_REPO=ssh://////////////////

## TODO: Add variables for Acquia Hosting.
##
