## For developing Provus itself, rename this file (docksal-local.env.sample) to docksal-local.env.
## docksal-local.env is in .gitignore so it will not be committed.

## HOSTING_SITE - Name of the Pantheon hosting environment.
##   E.g. for a dev machine with URL http://dev-maeng3-provus.pantheonsite.io/, it's "maeng3-provus"
##
HOSTING_SITE='<name_here>'

## SECRET_TERMINUS_TOKEN - Pantheon Token. See https://pantheon.io/docs/machine-tokens
##
SECRET_TERMINUS_TOKEN=<your_pantheon_token>

## REMOTE_GIT_REPO - See https://pantheon.io/docs/git#clone-your-site-codebase
## NOTE: Replace value below
REMOTE_GIT_REPO=ssh://////////////////

## TODO: Add variables for Acquia Hosting.
##
