// CSS-only select styling (from https://github.com/filamentgroup/select-css)

label.select {
  color: $black;
  font-family: $font-body;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 21px;
  margin-bottom: 5px;

  @include xs {
    display: block;
  }
}

.form-item__dropdown {
  display: block;
  position: relative;

  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid $gray-darker;
    content: " ";
    position: absolute;
    top: 42%;
    right: 1em;
    z-index: 2;

    /* These hacks make the select behind the arrow clickable in some browsers */
    pointer-events: none;
    display: none;
  }

  &:hover {
    border-color: $black;
  }
}

.form-item__select {
  font-size: 1rem;
  margin: 0;
  outline: none;
  border: 1px solid $border-input-form !important;
  border-radius: 4px;
  background-color: $white;
  padding: 4px 30px;
  max-width: 100%;
  width: 100%;
  color: $text-input-form;

  :focus {
    outline: none;
    color: $text-input-form;
  }
}

@supports ( -webkit-appearance: none ) or ( appearance: none ) or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {
  /* Show custom arrow */
  .form-item__dropdown::after {
    display: block;
  }

  /* Remove select styling */
  .form-item__select {
    padding-right: 2em; /* Match-01 */

    /* inside @supports so that iOS <= 8 display the native arrow */
    border: 1px solid $gray;
    border-radius: 4px;
    background-color: $white;

    /* inside @supports so that Android <= 4.3 display the native arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      border-color: $gray;
    }
  }
}
