.page-node-type-county-article {
  .field-media-image {
    margin-bottom: $space-triple;
  }

  .field-publish-date {
    margin-bottom: 2rem;
    color: $gray-light;
    font-size: .875rem;
  }

  .article-pre-title {
    margin-bottom: 1rem;
    color: $red;
    text-transform: uppercase;
    font-weight: bold;
  }
}
