/* Mixin - list-reset
 * Reset list item defaults when no margin, padding, list styles needed
*/

ul,
ol {
  padding-left: 0;
}

ul.ul,
.main-content .node ul,
.field-text-with-summary ul,
.block-text ul {
  &:not(.contextual-links) {
    list-style: none;

    li::before {
      content: "•";
      padding-right: 5px;
    }
  }
}

ol.ol,
.main-content .node ol,
.field-text-with-summary ol,
.block-text ol {
  &:not(.contextual-links) {
    list-style: none;
    counter-reset: section;
    list-style-type: none;

    li::before {
      counter-increment: section;
      content: counters(section, ".") " ";
      display: inline-block;
      text-align: right;
      direction: rtl;
      padding-right: 5px;
    }
  }
}

.list-item {
  margin-bottom: 0;
  padding-left: 0;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  ol,
  ul {
    li {
      @extend .list-item;
    }
  }
}
