{#
 # Available variables:
 # - phone__base_class - base classname of the wrapper.
 # - phone__phone - phone number.
 #}
{% set phone__base_class = 'person-info-phone' %}

<div {{ bem(phone__base_class) }}>
  <span class="ico-phone"><span class="material-icons" aria-hidden="true">phone</span></span>
  <span>{{ phone__phone }}</span>
</div>
