.sidebar-menu {
  @include list-reset;

  width: 100%;
  max-width: 100%;
}

.sidebar-menu__item {
  margin: 0;
  border-top: 1px solid $sidebar-border;
  
  &.sidebar-menu__item--with-sub ul {
    display: none;
  }

  &.sidebar-menu__item--active {
    ul {
      display: block;
      padding-bottom: 15px;

      li {
        border-top: 0;

        a {
          color: $black;
          font-family: $font-body;
          font-size: 0.9375rem;
          letter-spacing: 0;
          line-height: 1.0625rem;
          text-decoration: none;
          padding: 8.5px 37px;
          display: flex;

          &:hover {
            color: $sidebar-menu-item-hover;
            text-decoration: none;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.sidebar-menu__link {
  color: $sidebar-menu-item;
  font-family: $font-body;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.1875rem;
  text-decoration: none;
  padding: 12.5px 20px;
  display: flex;

  &:hover {
    color: $sidebar-menu-item-hover;
    text-decoration: none;
    font-weight: normal;
  }

  &.sidebar-menu__link--active {
    color: $primary;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid $primary;
  }
}
