.search-block-form {
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;

  @include desktop {
    top: 8px;
  }

  .form-item {
    display: flex;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;

    input[type="search"] {
      height: 64px;
      margin: 0 auto;
      text-align: left;
      width: 100%;
      padding: 6px 23px;
      padding-left: 23px;
      color: $border-search;
      line-height: 22px;
      font-size: 14px;
      border: 0;
      border-radius: 0;

      @include desktop {
        height: 66px;
        font-size: 1rem;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
      }
    }
  }

  input[type="reset"] {
    position: absolute;
    margin: -39px 0 0 0;
    right: 17px;
    text-indent: -999px;
    color: transparent;
    border: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 17px;
    background-image: url("/images/icons/ico-hamburguer-close.png");
    width: 16px;
    height: 17px;
    background-color: transparent;

    @include desktop {
      margin: -40px 0 0 0;
      right: 30px;
    }
  }
}
