<form action="/search" method="get" class="search-block-form" accept-charset="UTF-8">
  <div class="form-item js-form-item form-type-search js-form-type-search form-item-keys js-form-item-keys form-no-label form-group">
    <input title="Search" aria-label="Search" class="form-search form-control" placeholder="Search Southport.gov" type="search" id="edit-q" name="q" value="" size="15" maxlength="128" data-toggle="tooltip" data-original-title="Enter the terms you wish to search for.">
  </div>
  <input type="reset" value="Reset">
</form>
