.accordion {
  > .card {
    border: 0;
    border-bottom: 1px solid $border-accordion !important;
    border-radius: 0;

    .card-header {
      background-color: $white;
      border-bottom: 0;
      border-left: 9px solid $white;
      padding: 24px 15px;

      h2 {
        .btn {
          color: $gray-dark;
          font-family: $font-body;
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 1.5rem;
          padding: 0;
          margin: 0;
          border: 0;
          border-radius: 0;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          text-align: left;

          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
          }

          .material-icons {
            &.add{
              display: none;
            }
            &.remove{
              display: block;
              padding-right: 16px;
              color: $primary;

              @include medium {
                padding-right: 32px;
              }
            }
          }

          &.collapsed {
            .material-icons {
              &.add{
                display: block;
                padding-right: 16px;
                color: $primary;

                @include medium {
                  padding-right: 32px;
                }
              }
              &.remove{
                display: none;
              }
            }
          }
        }
      }

      &:hover {
        background: $accent-secondary;
        border-left: 9px solid $primary;
        border-radius: 0;
      }

    }
    .collapse,
    .collapsing {

      &.show {
        border: 0;
      }

      .card-body {
        color: $gray-medium;
        font-family: $font-body;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.875rem;
        padding: 10px 15px 35px 15px;

        @include medium {
          padding: 10px 78px 35px 78px;
        }
      }
    }
  }
}

.block-accordion {
  margin-top: $space-quadruple;
  margin-bottom: $space-quadruple;
}
