{{ attach_library('countyoc/promo-card') }}
{% set carousel__base_class = 'carousel-promo-card-wrapper' %}

<div {{ bem(carousel__base_class) }}>

  <div {{ bem('inner', [], carousel__base_class) }}>
    {% block prefix %}
    {% endblock %}
    <div class="carousel-promo-card slide">

      <!--Slides-->
      <div class="carousel-inner" role="listbox" aria-label="carouselSlides">
        <div class="carousel-inner-wrapper">
          <div class="lightslider">
            {% block content %}
              {% for item in content %}
                <div class="slide" role="option">
                  {% block card__bordered %}
                    {% include "@molecules/card/card-promo.twig" with
                      {
                        card__image__src: item.card__image__src,
                        card__image__alt: item.card__image__alt,
                        card__image__output_image_tag: item.card__image__output_image_tag,
                        card__heading: item.card__heading,
                        card__link__text: item.card__link__text,
                        card__link__url: item.card__link__url,
                      }
                    %}
                  {% endblock %}
                </div>
              {% endfor %}
            {% endblock %}
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</div>
