/* Library */
.content-top-library {
  @include breakout;

  padding: $space-quintuple 0;
  margin-bottom: $space-quintuple;
  background-color: $accent-sky;

  &__inner {
    @include wrapper;
  }

  .content-top-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include large {
      flex-wrap: nowrap;
    }

    .content-left {
      width: 100%;

      @include large {
        width: 50%;
      }

      h2.title {
        color: $title-content-top;
        font-family: $font-heading;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 39px;
        margin: 0 0 17px 0;
      }

      .content-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include medium {
          flex-wrap: nowrap;
        }

        .left,
        .right {
          width: 100%;

          @include medium {
            width: 50%;
          }
        }
      }
    }

    .content-right {
      width: 100%;

      @include large {
        width: 50%;
      }
    }
  }
}

/* Event */
.content-top-event {
  @include breakout;

  padding: $space-quintuple 0;
  margin-bottom: $space-quintuple;
  background-color: $accent-sky;

  &__inner {
    @include wrapper;

    max-width: 945px;
  }


  h2.title {
    color: $title-content-top;
    font-family: $font-heading;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 39px;
    margin: 0 0 27px 0;
  }

  .content-top-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include large {
      flex-wrap: nowrap;
    }

    .content-left {
      width: 100%;
      padding-top: 2rem;

      @include large {
        max-width: 285px;
      }
    }

    .content-right {
      width: 100%;

      @include large {
        width: auto;
      }
    }
  }
}
