/* Carousel Default */
.carousel {
  .carousel-indicators {
    li {
      width: 9px;
      height: 9px;
      border: 1px solid $light-blue;
      background: transparent;
      border-radius: 100%;

      &::before {
        display: none !important;
      }

      &.active {
        border: 1px solid $light-blue;
        background: $light-blue;
      }
    }
  }

  .carousel-inner {
    .carousel-item {
      img {
        width: 100%;
        height: 592px;
        object-fit: cover;
        margin: 0 auto;
      }

      img,
      picture {
        margin-bottom: 0;
      }
    }

    .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.69;
      background: linear-gradient(0deg, $black 0%, rgba(0, 0, 0, 0) 100%);
    }

    .carousel-caption {
      top: 40px;
      left: 0;
      right: 0;
      bottom: auto;
      z-index: 9;

      @include medium {
        left: 15%;
        right: 15%;
      }

      img.logo__image {
        width: 110px;
        margin: 0 auto;

        @include medium {
          background-color: $gray-dark;
          border: 1px solid #747474;
          width: inherit;
        }
      }

      h2 {
        color: $white;
        font-family: $font-heading;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75px;
        line-height: 2.375rem;
        text-align: center;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        margin: 18px 0 0 0;

        @include medium {
          font-size: 2.875rem;
          line-height: 3.5625rem;
        }
      }

      @include medium {
        min-width: 190px;
        text-indent: inherit;
        color: $white;
        font-family: $font-body;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.375rem;
        text-align: center;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

        @include medium {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }
      }
    }

    .search-input-item {
      top: 305px;
      position: relative;
      padding: 0 10px;

      @include small {
        top: 380px;
        position: relative;
        padding: 0 0;
      }

      @include medium {
        top: 430px;
        position: relative;
        padding: 0 0;
      }

      @include large {
        top: 440px;
        position: relative;
        padding: 0 0;
      }

      .button {
        @include medium {
          min-width: 190px;
          max-width: 190px;
          text-indent: inherit;
          color: $white;
          font-size: 1.25rem;
          line-height: 1.25rem;
        }
      }
    }
  }
}

.carousel-wrapper {
  @include breakout;

  .carousel-pause-play {
    position: absolute;
    bottom: 0;
    left: 0;
    .material-icons {
      font-size: 20px;
      color: $white;
    }
  }
}



.banner {
  @include breakout;
}
.layout-builder-block .banner {
  width: auto;
  left: auto;
}
