{% set inside__base_class = 'inside-banner' %}

<div {{ bem(inside__base_class) }}>
  {% block image_content %}
    {% if image_src %}
      {% include "@atoms/images/image/responsive-image.twig" with {
        image_blockname: card__base_class,
        image_src: image_src,
        image_alt: image_alt,
      } %}
    {% endif %}
  {% endblock %}
  <div {{ bem('wrapper', card__content__modifiers, inside__base_class) }}>
    <h1>{{ heading }}</h1>
    <p>{{ body }}</p>
  </div>
</div>
