.navbar.mobile {
  display: none;
}

@media (max-width: $large) {
  .navbar.mobile {
    display: block;
    width: 100%;
    padding: 0;

    .dropdown .navbar-collapse.show {
      padding: .5rem 1rem;
    }
  }
  .sidebar-menu {
    display: none;
  }
  .navbar button.search-mobile, .navbar button.menu-sidebar-mobile {
    background-color: #F5FAFE;
    border: 0;
    color: black;
    text-transform: uppercase;
    font-family: $font-heading;
    font-weight: 600;
    font-size: .75rem;
    line-height: 15px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.sidebar-menu, .sidebar-menu-mobile {
  @include list-reset;

  width: 100%;
  max-width: 100%;
}

.sidebar-menu__item, .sidebar-menu-mobile__item {
  margin: 0;
  border-top: 1px solid $sidebar-border;
  
  &.sidebar-menu__item--with-sub ul, &.sidebar-menu-mobile__item--with-sub ul {
    display: none;
  }

  &.sidebar-menu__item--active, &.sidebar-menu-mobile__item--active  {
    ul {
      display: block;
      padding-bottom: 15px;

      li {
        border-top: 0;

        a {
          color: $black;
          font-family: $font-body;
          font-size: 0.9375rem;
          font-weight: normal;
          letter-spacing: 0;
          line-height: 1.0625rem;
          text-decoration: none;
          padding: 8.5px 37px;
          display: flex;

          &:hover {
            color: $sidebar-menu-item-hover;
            text-decoration: none;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.sidebar-menu__link, .sidebar-menu-mobile__link  {
  color: $sidebar-menu-item;
  font-family: $font-body;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.1875rem;
  text-decoration: none;
  padding: 12.5px 20px;
  display: flex;

  &:hover {
    color: $sidebar-menu-item-hover;
    text-decoration: none;
    font-weight: normal;
  }

  &.sidebar-menu__link--active, &.sidebar-menu-mobile__link--active {
    color: $primary;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid $primary;
  }
}
