// Individual items.
$bg-arrow: $accent;
$border-utility: $gray-light;
$border-search: $black;
$line-gray: $gray;
$menu-hamburguer-item: $primary;
$menu-hamburguer-item-sub2: $accent;
$title-section: $dark;
$title-info: $gray-dark;
$title-content-top: $black;
$sidebar-menu-item: $primary;
$sidebar-menu-item-hover: $primary-darker;
$sidebar-border: $gray-light;
$bg-internal-page: $gray-light;
$border-input-form: $gray-light;
$text-input-form: $gray;
$bg-table-files: $gray-light;
$border-accordion: $gray;
$border-clear-btn: $gray-light;
$location-alert-bg: $gray-light;
$location-alert-border: $accent;
$person-initials-bg: $accent;
$icon: $accent;
$color-border: $accent;
// Calendar.
$border-calendar: $accent;
$bg-btn-today-calendar: $gray;
$bg-btn-calendar: $primary;
$bg-btn-active-calendar: $primary-darker;
$bg-event-calendar: $accent-secondary;
$bg-event-past-calendar: $accent-half;
$bg-event-weekend-calendar: $gray-light;

