// Grayscale
$white: white;
$gray-light: #747474;
$gray: #666;
$gray-dark: #1d2b36;
$gray-darker: #333;
$gray-medium: #556575;
$black: black;

// Project Colors.
$primary: #0071bc;
$primary-half: rgba(0, 113, 188, 0.5);
$primary-darker: #205493;
$primary-darkest: #112e51;
$secondary: #166dea;
$accent: #D53707;
$accent-half: rgba(253, 88, 9, 0.5);
$accent-secondary: #f5fafe;

// General Colors.
$error: #D53707;
$success: $accent-half;
$opaque: rgba(0, 0, 0, 0);
$opaque-half: rgba(255, 255, 255, 0.5);
$opaque-quarter: rgba(255, 255, 255, 0.25);

// Styleguide
.sg-colors {
  display: flex;
  flex-wrap: wrap;
}

.sg-colors__list {
  list-style: none;
  margin: 1rem 0.5rem;
  text-align: center;
}

.sg-colors__color {
  padding: 4rem;

  &--white {
    background-color: $white;
  }

  &--gray-light {
    background-color: $gray-light;
  }

  &--gray {
    background-color: $gray;
  }

  &--gray-dark {
    background-color: $gray-dark;
  }

  &--gray-darker {
    background-color: $gray-darker;
  }

  &--gray-medium {
    background-color: $gray-medium;
  }

  &--black {
    background-color: $black;
  }

  &--primary {
    background-color: $primary;
  }

  &--primary-darker {
    background-color: $primary-darker;
  }

  &--primary-darkest {
    background-color: $primary-darkest;
  }

  &--secondary {
    background-color: $secondary;
  }

  &--accent {
    background-color: $accent;
  }

  &--accent-secondary {
    background-color: $accent-secondary;
  }
}

.sg-info {
  padding: 1rem;

  code {
    background-color: #eee;
    padding: 0.15rem 0.25rem;
    display: block;
    margin-top: 0.25rem;
  }
}
