{{ attach_library('provus/banner') }}
<div class="banner-wrapper-outer{% if settings.picture %} with-picture{% endif %}">
  <div class="banner-wrapper{% if settings.search %} with-search{% endif %}">
    <div class="banner{% if items|length > 1 %} carousel{% endif %}"">
        {% block image_items %}
          {% for item in items %}
            <div class="slide" role="option">
            {% include "@atoms/images/image/responsive-image.twig" with {
                output_image_tag: true,
                image_src: item.image_src,
                image_alt: item.image_alt,
                responsive_image_blockname: 'bg',
              } %}
            </div>
          {% endfor %}
        {% endblock %}
    </div>
    <div class="mask"></div>
    <div class="caption-wrapper">
      <div class="caption">
        {% if logo_src %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_src: logo_src,
            image_alt: logo_alt,
            responsive_image_blockname: 'logo',
          } %}
        {% endif %}
        {% if heading %}
          <h1>{{ heading }}</h1>
        {% endif %}
        {% if body %}
          <p>{{ body }}</p>
        {% endif %}
        {% block searchblock %}
          {% if settings.search %}
            <div class="search-input-item">
              {% block search__input %}
                {% include "@molecules/form/search/search-banner.twig" with
                  {
                    placeholder: settings.search_placeholder,
                    search__button__text: settings.search__button__text,
                    search__button__url: settings.search__button__url,
                  }
                %}
              {% endblock %}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
    {% if items|length > 1 %}
      <div class="carousel-pause-play">
        <button type="button" class="btn btn-default btn-xs pause-play">
          <i data-mode="play" class="material-icons">pause</i>
        </button>
      </div>
    {% endif %}
  </div>
  {% if settings.picture %}
    <div class="person-picture">
      {% include "@atoms/images/image/responsive-image.twig" with {
        output_image_tag: true,
        image_src: picture_src,
        image_alt: picture_alt,
        responsive_image_blockname: 'picture',
      } %}
    </div>
  {% endif %}
</div>
