{% set numbergroup__base_class = 'quicklinks' %}

<div {{ bem(numbergroup__base_class) }}>

  {% if title %}
    <h2 class="title">{{ title }}</h2>
  {% endif %}

  <div {{ bem('inner', [], numbergroup__base_class) }}>
    <div class="quicklinks-wrapper">

      {% block content %}
        {% for item in content %}
          <div class="quicklinks-item">
            {% block card__mini %}
              {% if icons %}
                {% include "@molecules/card/text-link-with-icon.twig" with
                  {
                    card__heading: item.card__heading,
                    card__body: item.card__body,
                    card__link__url: item.card__link__url,
                    card__icon: item.card__icon,
                  }
                %}
              {% else %}
                {% include "@molecules/card/text-link.twig" with
                  {
                    card__heading: item.card__heading,
                    card__body: item.card__body,
                    card__link__url: item.card__link__url,
                  }
                %}
              {% endif %}
            {% endblock %}
          </div>
        {% endfor %}
      {% endblock %}

    </div>
  </div>
</div>
