.four-card-featured-group {
  padding-top: $space-triple;
  padding-bottom: $space-triple;

  .read-more-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px;
  }

  h2.title {
    text-align: center;
    color: $title-section;
    font-family: $font-heading;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 2.3125rem;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include medium {
      font-size: 1.875rem;
      margin-bottom: 50px;
    }
  }

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;

    @include large {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .four-card-featured-group-wrapper {
    display: flex;
    flex-wrap: wrap;

    @include medium {
      flex-wrap: nowrap;
    }

    .content-left {
      flex: 3 100%;

      @include medium {
        flex: 3 47%;
      }

      .field-media-image {
        .image {
          width: 100%;

          @include medium {
            width: auto;
          }
        }
      }

      .card-default__body {
        margin-bottom: 0;

        @include medium {
          margin-bottom: 40px;
        }
      }
    }

    .content-line {
      flex: 3 100%;
      display: flex;
      justify-content: center;

      @include medium {
        flex: 3 6%;
      }

      .content-line-hr {
        width: 100%;
        height: 1px;
        border: 1px solid #e5e5e5;
        margin: 30px 0;

        @include medium {
          height: 100%;
          width: 1px;
          border: 1px solid #e5e5e5;
          margin: 0;
        }
      }
    }

    .content-right {
      flex: 3 100%;
      padding-bottom: 0;

      @include medium {
        flex: 3 47%;
        padding-bottom: 50px;
      }

      .card-mini-item {
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }

        @include large {
          margin-bottom: 50px;
        }
      }
    }
  }
}
