/* Carousel Default */
.banner-wrapper {
  @include breakout;

  .lSSlideOuter {
    .lSPager.lSpg {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      margin-bottom: .5rem;
      list-style: none;

      li {

        &::before {
          display: none !important;
        }

        &.active {
          a {
            border: 1px solid $light-blue;
            background: $light-blue;
          }
        }

        a {
          width: 9px;
          height: 9px;
          border: 1px solid $light-blue;
          background: transparent;
          border-radius: 100%;
        }
      }
    }
  }

  .slide {
    img {
      width: 100%;
      height: 540px;
      object-fit: cover;
      margin: 0 auto;

      @include desktop {
        height: 592px;
      }
    }

    img,
    picture {
      margin-bottom: 0;
    }
  }

  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.8;
    background: linear-gradient(0deg, $black 0%, rgba(0, 0, 0, 0) 100%);
  }

  .caption-wrapper {
    display: table;
    position: absolute;
    width: 100%;
    height: 540px;
    z-index: 7;
    top: 0;

    @include desktop {
      height: 592px;
    }

    .caption {
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
      padding-left: 0;
      padding-right: 0;

      @include medium {
        padding-left: 15%;
        padding-right: 15%;
      }

      img.logo__image {
        max-height: 110px;
        margin: 1rem auto;

        @include medium {
          max-height: 202px;
        }
      }

      h1 {
        color: $white;
        font-family: $font-heading;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75px;
        line-height: 2.375rem;
        text-align: center;
        text-shadow: 0 0 20px rgba(0, 0, 0, 1);
        text-transform: uppercase;
        margin: 18px 0 0 0;
        -webkit-text-stroke: .5px $gray-darker;

        @include medium {
          font-size: 2.875rem;
          line-height: 3.5625rem;
        }
      }

      p {
        min-width: 190px;
        text-indent: inherit;
        color: $white;
        font-family: $font-body;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.375rem;
        text-align: center;
        text-shadow: 0 0 12px rgba(0, 0, 0, 1);
        -webkit-text-stroke: .5px $gray-darker;

        @include medium {
          font-size: 1.25rem;
          line-height: 1.5rem;
        }
      }
    }
  }

  .search-input-item {
    padding: 0 10px;

    .button {
      @include medium {
        min-width: 190px;
        max-width: 190px;
        text-indent: inherit;
        color: $white;
        font-size: 1.25rem;
        line-height: 1.25rem;
      }
    }
  }

  .carousel-pause-play {
    position: absolute;
    bottom: 0;
    left: 0;

    .material-icons {
      font-size: 20px;
      color: $white;
    }
  }
}

.banner-wrapper-outer.with-picture {
  position: relative;

  .caption-wrapper {
    height: 430px;
  }

  .person-picture {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
  }

  @include small {
    .caption-wrapper {
      height: 320px;
    }
  }

  @include medium {
    .person-picture {
      width: 350px;
    }

    .caption-wrapper {
      height: 320px;

      .caption {
        img.logo__image {
          max-width: 450px;
        }
      }
    }
  }

  @include desktop {
    .person-picture {
      width: 450px;
    }

    .caption-wrapper {
      height: 592px;
    }
  }
}

.layout-builder-block .banner-wrapper {
  width: auto;
  left: auto;
}
