.inside-banner {
  @include breakout;

  height: 240px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  picture {
    width: 100%;
    margin-bottom: 0;

    .image {
      margin-bottom: 0;
      width: 100%;
      object-fit: cover;
      height: 240px;
    }
  }

  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.8;
    background: linear-gradient(0deg, $black 0%, rgba(0, 0, 0, 0) 100%);
  }

  &__wrapper {
    text-align: center;
    position: absolute;

    h1 {
      color: $white;
      margin: 0;
      font-family: $font-heading;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 1.75px;
      line-height: 2.375rem;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;

      @include medium {
        font-size: 2.875rem;
        line-height: 3.5625rem;
      }
    }

    p {
      color: $white;
      margin: 4px 0 0 0;
      font-family: $font-body;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1.5rem;
      text-align: center;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
  }
}

.main--with-sidebar {
  .inside-banner {
    width: 100%;
    left: 0;
  }
}

.layout-builder-block .inside-banner {
  width: auto;
  left: auto;
}
