/* LI */
.main-menu__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-top: 1px solid $border-utility;
  padding: 16px 0;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid $border-utility;

    @include desktop {
      border-bottom: 0;
    }
  }

  @include desktop {
    border-top: none;
    display: inline-block;
    padding: 0 15px;
    border-bottom: 0;

    /* Only top level */
    &.hover-menu:not(.main-menu__item--sub) {
      transition: all 0.2s;

      & > .main-menu--sub {
        display: block;
      }
    }

  }

  @include xl {
    padding: 0 28px;
  }

  &:hover {
    .main-menu__link::after {
      color: $gray;
    }
  }
}

/* Expand Button */
.header {
  .expand-sub {
    height: 20px;

    &::before {
      @include material-icon;

      content: '\e315';
      font-size: 20px;
      color: $menu-hamburguer-item;
    }

    @include desktop {
      display: none;
    }

    /* See main-menu.js */
    &--open {
      background-color: $black;
      color: $gray;
    }
  }
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.main-menu__item--sub {
  @include desktop {
    display: block;

    &:not(:first-child) {
      border-top: 1px solid $gray-light;
    }
  }
}
