/* A */
.main-menu__link {
  text-transform: uppercase;
  font-family: $font-body;
  display: block;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  padding: 0;
  text-decoration: none;
  font-weight: 600;
  color: $menu-hamburguer-item;

  &--with-sub {
    width: 80%;
  }

  @include desktop {
    border-bottom: none;
    color: #1b396b;
    font-family: $font-body;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    padding: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 60px;
    text-align: center;

    &.active,
    .main-menu__link--active,
    &:hover {
      color: $primary;
      text-decoration: none;
    }

    &::after {
      display: inline-block;
    }

    &--sub::after {
      display: none;
    }

    &:hover {
      &::after {
        color: $primary;
      }
    }
  }
}

.main-menu__link--active {
  color: $primary;
  text-decoration: none;
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  padding-left: 0;
  text-align: left;

  @include desktop {
    display: block;
  }
}

.main-menu--sub-2 {
  background-color: transparent;
}

.main-menu__link--sub-2 {
  padding-left: 0;
}
