{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<div class="text">

	<p>This is a paragraph using Lato regular at 16px, with a 30px line-height in the color #556575 Phasellus pharetra urna sit amet tellus elementum aliquet in et quam. In condimentum dui. Lorem ipsum dolor sit amet, <a href="#">hyperlinks color #170080</a> consectetur adipisicing elit, sed do eiusmod <a href="#">hover state bold and underline color #0071BC</a> tempor incididunt ut allabore dolor clicked state color #122E51 et dolore magna aliqua. </p>

</div><!--end .text-->
