/* Create a mixin for paragraph styles that can be implemented
 * in components with other classnames.
*/
@mixin paragraph($margin: 0 0 1em) {
  margin: $margin;
}

@mixin body-copy {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.875rem;
}

body {
  color: $gray-medium;

  @include body-copy;
}

p,
.paragraph {
  @include paragraph;
}

a {
  color: $ada-blue;
  font-weight: bold;

  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

blockquote,
.blockquote {
  font-style: normal;
  border-left: solid 6px $color-border;
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  color: $gray-dark;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.7px;
  line-height: 3.25rem;
  text-shadow: 0 0 20px 0 $white;

  @include medium {
    padding-right: 0;
  }
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  p {
    @extend .paragraph;
  }

  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }
}

.block-text {
  padding-top: $space-triple;
  padding-bottom: $space-triple;
  padding-left: 0;
  padding-right: 0;

  > h2.title {
    text-align: center;
    color: #21303e;
    font-family: $font-heading;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 2.3125rem;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include medium {
      font-size: 1.875rem;
      margin-bottom: 50px;
    }
  }
}

.block-columns,
.block-tabs {
  .block-text {
    padding: 0;
  }
}
