{{ attach_library('countyoc/carousel-3-item') }}
{% set carousel__base_class = 'carousel-3-items-wrapper' %}

<div {{ bem(carousel__base_class) }}>

  {% if carousel_heading and not ischild %}
    <h2 class="title">{{ carousel_heading }}</h2>
  {% endif %}

  <div {{ bem('inner', [], carousel__base_class) }}>
    {% block prefix %}
    {% endblock %}
    <div class="carousel-3-items">
      <a class="carousel-control-prev" role="button" data-slide="prev" tabindex="0">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>
      <!--Slides-->
      <div class="carousel-inner">
        <div class="carousel-inner-wrapper">
          <div class="lightslider">
            {% block content %}
              {% for item in content %}
                <div class="slide">
                  {% block card__bordered %}
                    {% include "@molecules/card/card-bordered.twig" with
                      {
                        card__image__src: item.card__image__src,
                        card__image__alt: item.card__image__alt,
                        card__image__output_image_tag: item.card__image__output_image_tag,
                        card__heading: item.card__heading,
                        card__body: item.card__body,
                        card__link__text: item.card__link__text,
                        card__link__url: item.card__link__url,
                      }
                    %}
                  {% endblock %}
                </div>
              {% endfor %}
            {% endblock %}
          </div>
        </div>
      </div>
      <a class="carousel-control-next" role="button" data-slide="next" tabindex="0">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  {% block linkcontent %}
    <div class="field-link center"><a href="/" class="button button--secondary">Read More</a></div>
  {% endblock %}
</div>
