.search-block-form {
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  align-items: center;
  background: $white;
  display: flex;
  flex-wrap: wrap;

  @include desktop {
    top: 0;
    flex-wrap: nowrap;
  }

  .text-buttons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }

  .form-item--radio {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 100%;
    border: 1px solid $border-utility;
    padding: 10px 15px;
    justify-content: flex-start;
    order: 5;

    @include desktop {
      justify-content: space-between;
      min-width: fit-content;
      padding: 0 25px;
      border: 0;
      order: 0;
    }

    .form-item {
      align-items: center;
      color: $gray-medium;
      font-family: $font-body;
      font-size: 0.875rem;
      letter-spacing: 0;
      width: auto;
      max-width: none;
      padding-right: 1rem;

      &:last-child {
        padding-right: 0;
      }

      .form-radio {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin-right: 10px;
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          border: 1px solid #f0f0f5;
          border-radius: 100%;
          opacity: 1;
          background-color: #f0f0f5;
        }

        &:checked::after {
          content: "";
          display: block;
          width: 1px;
          height: 1px;
          border: solid $white;
          position: absolute;
          top: 7px;
          left: 7px;
          border-radius: 100%;
        }

        &:checked::before {
          background-color: $primary;
        }

        &.error::before {
          border: 1px solid $accent;
          background-color: $white;
        }

        &.unchecked::before {
          border: 1px solid #e6e6eb;
          background-color: #f0f0f5;
        }

        &.unchecked::after {
          content: "";
          display: block;
          width: 1px;
          height: 1px;
          border: solid #f0f0f5;
          position: absolute;
          top: 7px;
          left: 7px;
          border-radius: 100%;
        }

        &.checked-disabled::before {
          border: 1px solid #e6e6eb;
          background-color: #f0f0f5;
        }

        &.checked-disabled::after {
          content: "";
          display: block;
          width: 1px;
          height: 1px;
          border: solid #8d8d94;
          position: absolute;
          top: 7px;
          left: 7px;
          border-radius: 100%;
        }
      }

      .form-item__label {
        color: $gray-medium;
        font-family: $font-body;
        font-size: 0.875rem;
        letter-spacing: 0;
        margin-bottom: 0;
      }
    }
  }

  .form-item {
    display: flex;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;

    input[type="search"] {
      margin: 0 auto;
      text-align: left;
      width: 100%;
      color: $border-search;
      line-height: 22px;
      font-size: 14px;
      font-weight: 600;
      border: 0;
      border-radius: 0;
      max-width: 100%;
      height: auto;
      padding: 20px 15px;

      @include desktop {
        height: 64px;
        font-size: 0.875rem;
        border-left: 1px solid $sidebar-border;
        border-radius: 0;
        padding: 6px 13px 6px 58px;
        background-image: url("/images/icons/ico-search.svg");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 20px;
      }
    }
  }

  input[type="reset"] {
    position: relative;
    margin: 0;
    right: 30px;
    text-indent: -999px;
    color: transparent;
    border: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 17px;
    background-image: url("/images/icons/ico-hamburguer-close.png");
    width: 16px;
    height: 17px;
    background-color: transparent;
  }

  input[type="submit"] {
    background: none;
    border: 3px solid $primary;
    color: $primary;
    margin-right: 1rem;
    min-width: auto;

    @include desktop {
      min-width: 190px;
    }

    &:hover {
      background: $primary-darker;
      color: $white;
    }

    &:active {
      background: #143b6a;
      color: $white;
    }
  }
}

.search-bar-open {
  .search-block-form {
    height: 100% !important;
    min-height: 105px !important;

    @include desktop {
      height: 100% !important;
      min-height: 100% !important;
    }
  }
}

.search-page-form {
  position: relative;
  width: 100%;
  z-index: 9;
  margin-bottom: 20px;

  @include desktop {
    .button--primary {
      padding: 0 70PX;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    .form-item {
      align-self: flex-end;
    }
  }

  &__sorts {
    display: flex;

    .form-item {
      margin-left: 10px;
      margin-bottom: 0;
    }
  }

  .form-type-textfield {
    width: 100%;
    height: 80px;

    .material-icons {
      position: absolute;
      top: 17px;
      left: 16px;
      z-index: 1;
      color: $gray-medium;
      text-shadow: none;
      -webkit-text-stroke-width: 0;
    }

    input.form-text {
      height: 56px;
      margin: 0 auto;
      text-align: left;
      width: 100%;
      padding: 6px 23px;
      padding-left: 23px;
      line-height: 22px;
      font-size: 1rem;
      border: 1px solid $gray-light;
      border-radius: 31.11px;
      background-color: $white;
      outline: 0;
      color: $gray-light;
      font-family: $font-body;
      letter-spacing: 0;
    }

    input.form-text.icon {
      position: absolute;
      top: 0;
      padding-left: 50px;
    }
  }

  .form-actions {
    position: absolute;
    right: 0;
    top: 0;

    .button {
      margin-right: 3px;
      margin-top: 3px;
      outline: 0;
      display: flex;
      justify-content: center;
      min-width: 50px;

      @include medium {
        max-width: 190px;
      }

      > span {
        display: none;

        @include medium {
          display: block;
        }
      }

      .material-icons {
        display: block;

        @include medium {
          display: none;
        }
      }


    }
  }
}

.search-banner-form {
  max-width: 575px;
  margin: 0 auto;

  .form-type-textfield {

    input.form-text {
      height: 56px;
      margin: 0 auto;
      text-align: left;
      width: 100%;
      padding: 6px 23px;
      padding-left: 23px;
      line-height: 22px;
      font-size: 1rem;
      box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.6);
      border: 0;
      border-radius: 31.11px;
      background-color: $white;
      outline: 0;
      color: $gray-light;
      font-family: $font-body;
      letter-spacing: 0;

      &:focus {
        outline: none;
        box-shadow: 0 0 15px $secondary;
      }
    }
  }
}
.search-form {
  margin-bottom: 20px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
