.number-group {
  &:not(.layout-builder-block) {
    @include breakout;
  }

  &__outer {
    padding-top: $space-triple;
    padding-bottom: $space-triple;
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include medium {
      padding-left: 0;
      padding-right: 0;
    }
  }

  h2.title {
    text-align: center;
    color: $title-section;
    font-family: $font-heading;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 2.3125rem;
    margin-bottom: 20px;
    text-transform: uppercase;

    @include medium {
      font-size: 1.875rem;
      margin-bottom: 70px;
    }
  }

  &__inner {
    display: flex;
    flex-flow: wrap;

    @include large {
      flex-flow: column nowrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .number-group__inner {
    .number-group-item-wrapper:nth-child(1),
    .number-group-item-wrapper:nth-child(3) {
      h2 {
        color: $accent-orange;
      }

      .material-icons {
        color: $accent-orange-half;
      }
    }
  }

  .number-group-item-wrapper {
    width: 50%;
    padding-left: 0;
    padding-right: 0;

    &:nth-child(1) {
      order: 3;
      border-right: 2px solid $border-utility;
    }

    &:nth-child(2) {
      order: 1;
      border-right: 2px solid $border-utility;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 4;
    }

    @include large {
      border-right: 2px solid $border-utility;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 3;
      }

      &:nth-child(4) {
        order: 4;
      }
    }

    &:last-child {
      border-right: 0;
    }
  }
}
