/* Link */
$color-link: $gray-darker;
$color-link--hover: $gray-light;

@mixin link {
  color: $color-link;

  &:hover {
    color: $color-link--hover;
  }
}

.link {
  @include link;
}

// External links adjustment for the external icon.
svg.ext {
  vertical-align: baseline;
  margin-left: 3px;
}