$table-gray: #f8f8f8;
$table-border: $gray;

table {
  border: 1px solid $table-border;
  border-radius: 4px;
  border-spacing: 0;
  background-color: $table-gray;
  margin: 1em 0;
  width: 100%;
}

th,
td {
  border: none;
  border-bottom: 1px solid $table-border;
  padding: 1em;
  vertical-align: top;

  &:last-child {
    border-right: none;
  }

  &.percent-25 {
    width: 25%;
  }

  &.percent-50 {
    width: 50%;
  }

  &.percent-75 {
    width: 75%;
  }
}

th {
  color: $black;
  font-weight: 700;
  padding: 1.2em;
  text-align: left;
}

tr {
  &:nth-child(odd) {
    background-color: $white;
  }

  /* Top Row - Non-BEM but always contained */
  &:first-child {
    th:first-child,
    td:first-child {
      border-radius: 5px 0 0;
    }

    th:last-child,
    td:last-child {
      border-radius: 0 5px 0 0;
    }
  }

  /* Bottom Row - Non-BEM but always contained */
  &:last-child {
    tbody & {
      th,
      td {
        border-bottom: none;
      }
    }

    td:first-child {
      border-radius: 0 0 0 5px;
    }

    td:last-child {
      border-radius: 0 0 5px;
    }
  }
}

tfoot td,
.table__footer-cell,
.table__footer-cell:first-child {
  border-bottom: none;
  border-top: 1px solid $table-border;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  table {
    @extend .table;
  }

  th {
    @extend th;
  }

  td {
    @extend td;
  }

  tr {
    @extend tr;
  }

  tfoot th {
    @extend .table__footer-cell;
  }
}
