.header {
  &__utility {
    border-bottom: 1px solid $border-utility;
    display: flex;
    justify-content: normal;
    align-items: center;
    padding: 6px 0;
    position: relative;
    overflow: hidden;

    @include desktop {
      padding: 0 40px;
      justify-content: center;
    }
  }

  &__logo-top {
    margin-left: 15px;

    @include desktop {
      margin-left: 0;
    }

    .logo__image {
      max-width: 201px;
      max-height: 30px;
      margin-bottom: 0;

      @include desktop {
        max-height: none;
        max-width: 220px;
        padding: 10px 0;
      }
    }
  }

  &__utilities {
    display: flex;
    position: absolute;
    right: 0;

    @include medium {
      right: 15px;
    }

    @include desktop {
      right: 40px;
    }
  }

  &__traslate {
    height: 43px;
    display: flex;

    @include desktop {
      height: 100px;
    }

    .goog-te-combo {
      background: $primary-darker;
      border: 0;
      color: $white;
      font-family: $font-body;
      font-size: 0.875rem;
      line-height: 1.0625rem;
      text-transform: uppercase;
      font-weight: 600;
      padding: 0 20px;
      max-width: 187px;
    }
  }

  &__social-share {
    align-items: center;
    padding-left: 30px;
    display: none;

    @include medium {
      display: flex;
    }

    a {
      padding: 0 9px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    img.ico-facebook,
    img.ico-twitter,
    img.ico-instagram {
      width: 21px;
      height: 24px;
    }

    img.ico-youtube {
      width: 24px;
      height: 24px;
    }

    img {
      margin-bottom: 0;
    }
  }

  #google_translate_element {
    span.btn-translate {
      display: flex;
      flex-wrap: nowrap;
      height: 43px;
      border: 0;
      align-items: center;
      background: $primary-darker;
      padding: 0 15px 0 20px;
      color: $white;
      cursor: pointer;

      @include desktop {
        height: 100%;
      }

      .ico-translate {
        background-image: url("/images/icons/ico-translate.svg");
        background-size: 29px 28px;
        background-position: 0;
        background-repeat: no-repeat;
        width: 29px;
        height: 28px;
        margin-right: 5px;
      }
    }

    .goog-te-gadget-simple {
      display: flex;
      flex-wrap: nowrap;
      height: 43px;
      border: 0;
      align-items: center;
      background: $primary-darker;
      padding: 0 15px 0 20px;
      color: $white;
    }

    @include desktop {
      height: 100%;
    }

    .goog-te-menu-value {
      display: flex;
      text-decoration: none;

      &:hover {
        font-weight: normal;
      }

      img {
        display: none;
      }

      span {
        color: $white !important;
        border-left: 0 !important;
        font-size: 0.875rem;
        line-height: 17px;
        text-transform: uppercase;
        font-family: $font-body;
      }
    }

    .goog-te-gadget .goog-te-combo {
      margin: 0 !important;
    }
  }
}
