{% set header__base_class = 'header' %}

<header {{ bem(header__base_class) }}>
  <div {{ bem('inner', [], header__base_class) }}>

    {% block header__navigation %}
      {% include "@organisms/navigation/navigation.twig" %}
    {% endblock %}


  </div>
</header>
