.footer {
  background-color: $primary-darkest;
  padding: 60px 0;
  color: $white;

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    @include large {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  }

  h2 {
    margin: 0 0 5px 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-decoration: none;
    color: $white;
  }

  .footer__navigation_menu,
  .footer__quick_links_menu,
  .footer__resources_menu {
    margin-top: 35px;

    .inline-menu {
      display: none;

      @include large {
        display: block;
      }

      &.open {
        display: block;
      }
    }

    @include large {
      margin-top: 0;
    }

    h2 {
      cursor: pointer;

      @include large {
        cursor: none;
      }

      &::after {
        content: '>';
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 8px 5px;
        background-image: url("/images/icons/ico-arrow-down.png");
        width: 8px;
        height: 5px;
        color: transparent;
        padding-left: 5px;
        text-indent: -99999px;

        @include large {
          background-image: none;
        }
      }

      &.open {
        &::after {
          content: '>';
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 8px 5px;
          background-image: url("/images/icons/ico-arrow-up.png");
          width: 8px;
          height: 5px;
          color: transparent;
          padding-left: 5px;
          text-indent: -99999px;

          @include large {
            background-image: none;
          }
        }
      }
    }
  }

  .footer__social {
    margin-top: 35px;

    @include large {
      margin-top: 0;
    }
  }
}
